#parties {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
}

.party {
    flex: 1 1 300px;
    max-height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}